* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  font-family: monospace;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-top: 20px;
}
header > p {
  cursor: pointer;
  font-size: 20px;
  color: lightsalmon;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 15px;
  font-size: 20px;
}
nav ul li a {
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
  color: lightsalmon;
}
.btn-color {
  padding: 10px;
  cursor: pointer;
  background: lightsalmon;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 8px;
}
.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBox {
  margin: 30px 0;
}
.searchBox > input {
  width: 400px;
  padding: 23px;
  border: none;
  background-color: #dcdcdc;
  border-radius: 5px;
}
input.search:focus {
  outline-width: 0;
  font-size: 16px;
}
.label {
  margin-left: 10px;
  font-size: 22px;
}
.search-btn {
  position: relative;
  font-size: 18px;
  width: 100px;
  padding: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: lightsalmon;
  color: white;
}
#catagories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 130px;
  margin-top: 100px;
}
.foods {
  align-items: center;
}
.foodTitle {
  text-align: center;
  cursor: pointer;
  color: lightsalmon;
}
.foodImg {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

#detail {
  display: grid;
  grid-template-columns: repeat(1);
  align-items: center;
}
.foodDetails {
  /* letter-spacing: 2px; */
}

.detailImage {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.detailTitle {
  margin: 10px 0;
  font-size: 30px;
  letter-spacing: 2px;
}
.incredient {
  margin: 10px 0;
  letter-spacing: 2px;
}
.foodDetails p {
  letter-spacing: 1px;
  font-size: 20px;
}

.fas {
  color: lightsalmon;
  margin: 3px 7px;
}
